<h3> Verify Your Email</h3>
<p> Hello {{name}},<br/>
Thank you for registering with us<br/>
We know that you'd love using this app.<br/>
Here is your verification link: <a href = {{link}}> your link</a></p>
<p>regards,<br>
Someone<br/>
<i>This webapp</i></p>