<h3> Reset Your Password</h3>
<p> Hello {{name}},<br/>
We know this happens to the best of us<br/>
Simply click on the link below to reset your password<br/>
Here is your password reset link: <a href = {{link}}> your link</a></p>
<p>regards,<br>
Someone<br/>
<i>This webapp</i></p>